
.icon-left-open-big:before { content: '\e800'; } /* '' */
.icon-right-open-big:before { content: '\e801'; } /* '' */
.icon-down-open-big:before { content: '\e802'; } /* '' */
.icon-up-open-big:before { content: '\e803'; } /* '' */
.icon-alarm:before { content: '\e804'; } /* '' */
.icon-graph:before { content: '\e805'; } /* '' */
.icon-comp:before { content: '\e806'; } /* '' */
.icon-book:before { content: '\e807'; } /* '' */
.icon-home:before { content: '\e808'; } /* '' */
.icon-digital:before { content: '\e809'; } /* '' */
.icon-photo:before { content: '\e80a'; } /* '' */
.icon-eq:before { content: '\e80b'; } /* '' */
.icon-target:before { content: '\e80c'; } /* '' */
.icon-chat:before { content: '\e80d'; } /* '' */
.icon-pin:before { content: '\e80e'; } /* '' */
.icon-eye:before { content: '\e80f'; } /* '' */
.icon-comments:before { content: '\e810'; } /* '' */
.icon-users:before { content: '\e811'; } /* '' */
.icon-cart:before { content: '\e812'; } /* '' */
.icon-search:before { content: '\e813'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-tumblr:before { content: '\f173'; } /* '' */
.icon-dribbble:before { content: '\f17d'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */